*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	height: 94vh;
	width: 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-image: linear-gradient(58deg,rgba(0,0,0,1) ,rgba(0,0,0,0.6),50%,transparent 5%),
  url(bg3.jpg);
}
.topnav {
  overflow: auto;
  background-color: #7a7878;
}
.topnav img{
  position:absolute;
  top:0px; 
  left:1470px;
  width:50px;
  height:50px;
  overflow:hidden;
}
.topnav a {
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-container{
    height: 100%;;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about-img img{
    margin-top: 150px;
    margin-left: 65px;
    width: 70%;
}
.about-text span{
    font-size: larger;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.about-text p{
    color: #fff;
    font-size: 18px;
    margin: 2rem 0 1.4rem;
}
.about-text .btn{
    padding: 10px 20px;
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
    margin-left: 80%;
}
.about-text .btn:hover{
    background-color: #ff7200;
    text-decoration: none;
}


.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  
}
.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}
h2,
p {
  margin: 0 0 20px;
  font-weight: 400;
  color: #999;
}
span {
  color: #666;
  display: block;
  padding: 0 0 5px;
}
form {
  padding: 25px;
  margin: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
  position: relative;
  
}
input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #2371a0;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button.button {
  color: #eee;
  background: none;
  border-color: #eee;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 70%;
}
button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}